<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/musicapp" class="navbar-brand mb-0 h1"><img src="https://i.pinimg.com/originals/59/f9/31/59f93175ba67187444ad6ae3b35e040f.png" height="45" width="45">MusicApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="/mine" class="nav-link">My Account</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/playlists/new" class="nav-link">Create Playlist</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Playlists</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="#" class="dropdown-item">Playlist1 Test</a></li>
                                <li><a href="#" class="dropdown-item">Playlist2 Test</a></li>
                            </ul>
                        </li>
                        <li class="nav-item active">
                            <a href="/users/signup" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/users/login" class="nav-link">Log In</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/users/logout" class="nav-link">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            {% block content %}
            my content
            {% endblock %}
    </body>
</html>