{% layout 'layout.liquid' %}

{% block content %}
    <div >
        <form action="/musicapp" method="POST">
            <fieldset>
                <legend>Create A New Song</legend>
                <label>Artist:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="artist" 
                    placeholder="Enter Artist Name"
                >
                <label>Title:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="title" 
                    placeholder="Enter Song Title"
                >
                <label>Genre:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="genre" 
                    placeholder="Enter Genre"
                >
                <label>Album:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="album" 
                    placeholder="Enter Album Name"
                >
                <label>Image:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="image" 
                    placeholder="Enter Image URL"
                >
            <input 
                type="submit" 
                value="Create New Song" 
            >
        </form>
    </div>
{% endblock %}