{% layout 'layout.liquid' %}

{% block content %}
    <div>
        <h1>Songs List</h1>
        <div class="row">
            {% for song in songs %}
                <div class="card" style="width: 18rem">
                    <a href="/songify/{{song._id}}" class="btn"><h5 class="card-header">Song: {{song.title}}</h5></a>
                    <div class="card-body">
                        <h6 class="card-title">Artist: {{song.artist}}</h5>
                        <h6 class="card-title">Genre: {{song.genre}}</h5>
                    </div>
                    <div>
                        <a href="" class="btn">Add to Playlist</a>
                        <a href="" class="btn">Favorite It!</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="/songify/new" class="btn btn-info"><h5>Add A Song</h5></a>
    </div>
{% endblock %}